body {
  font-family: Arial, sans-serif;
  background-color: #a6a5a5;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
p{
  text-align: center;
}


img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
  display: block;
  margin: 0 auto;
}

img:hover {
  transform: scale(1.1);
}

h2{
  text-align: center;
}







/* Continue com seus estilos */
